$denim: #358bee;

body {
  background: #fafafa;
  font-family: sans-serif,
}


html {font-size: 100%;} /*16px*/

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.75;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
  font-weight: 100;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

a {
  color: $denim;
}

a:hover {
  color: darken($denim, 20);
}

#menu_small {
  background: $denim;
  padding: 1rem;
  color: whitesmoke;

  a {
    color: whitesmoke;
  }

  a:hover {
    color: lightgrey;
  }
}

.active {
    display: flex;
    flex-direction: column;

    a {
        // padding: 1rem;
        // border: 2px whitesmoke solid;
    }
}

.inactive {
    display: none;
}


table,
td,
th {
  border-collapse: collapse;
}

table {
  width: 100%;
}

th {
  padding: 10px;
  border: 2px darken($denim, 20) solid;
  text-align: center;
}

td {
  padding: 10px;
  border: 2px $denim solid;
  text-align: center;
  background: darken(whitesmoke, 2.5);
}

th {
    background: $denim;
    color: whitesmoke;
}

hr {
  border: none;
  margin-top: 2rem;
  border-bottom: 2px darken($denim, 20) solid;
}

.measured {
  max-width: 65rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.centered {
  text-align: center;
}

h1 {
  margin-top: 3rem !important;

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: underline;
  }
}

button,
input[type=submit] {
  background: none;
  color: $denim;
  border: 2px $denim solid;
  border-radius: 2px;
  padding: 0.5rem 1rem;
}

button:hover,
input[type=submit]:hover {
  background: $denim;
  color: whitesmoke;
}

header {
  display: grid;

  max-width: 65rem;
  margin: 0 auto;

  h1,
  h2 {
    width: 100%;
  }

  button {
    grid-row: 1;
    grid-column: 2;
    height: min-content;
    width: min-content;
    margin-top: 3rem;
    justify-self: end;

    @media (min-width: 65rem) {
      display: none;
    } // @media
  } // button
} // header 

#menu_large {
  max-width: 65rem;
  margin: 0 auto;

  > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;

    > li {
      list-style: none;
      margin: 0.5rem 1rem;
    } // li
  } // ul
} // #menu_large

header {
  #menu_large {
    display: none;
    
    @media (min-width: 65rem) {
      display: block;
    } // @media
  } // #menu_large
} // header

input,
textarea {
  border: none; // start from scratch
  border-radius: 2px;
}

input[type=text] {
  display: block;
  margin-bottom: 2rem;
  background: white;
  padding: 0.5rem 1rem;
  width: 100%;
  border: 2px lightgray solid;
  max-width: 35rem;
}

input[type=text] {
  padding: 0.5rem 1rem;
}

textarea {
  border-radius: 2px;
  width: 100%;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  border: 2px lightgray solid;
  max-width: 35rem;
}

input[type=submit] {
  display: block;
}

#opener {
  width: 100%;
}

#veiled {
  list-style: none;
  padding-left: 0;
  margin-top: 0;

  li {
    background: $denim;
    color: whitesmoke;
    padding: 0.5rem 1rem;

    a {
      color: whitesmoke;
    }

    a:hover {
      color: darken(whitesmoke, 20);
    }
  }
}

.vertical-space {
  margin-top: 1rem;
}

figure {
  margin: 0;
}

audio {
  background: $denim;
  border-radius: 2px;
}

footer {
  background: darken(whitesmoke, 10);
  margin-top: 3rem;

  h3 {
    padding: 1rem;
    margin-bottom: 3rem;
  }
}